node_modules
.DS_Store
Desktop.ini
._*
Thumbs.db
*.tmp
*.bak
*.log
logs

*.common-js.js
*.es-modules.js

.idea/workspace.xml

.idea/encodings.xml

.idea/iphone-inline-video.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml
