html, body {
	padding: 0;
  background: #000;
	color: #FFF;
	text-align: center;
	font-family: sans-serif;
	max-width: 500px;
	margin: auto;
}
video {
  background: green;
  width: 100%;
}
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
button {
  width: 100%;
  height: 3em;
  font-size: 1em;
}
p, h2, button {
	margin: 1em 0;
}
p {
	font-size: 1.2em;
}
a {
	color: #FFF;
}
code {
	font-size: 1.2em;
}
